/* ----------------------------------------------------------------------- Global Styles */
:root {
    /* --about-me: aqua; */
    --about-me: #c95225;
    --certificates: rgb(76, 192, 76);
    --projects: #2c9ccf;
    --notes: rgb(216, 173, 93);
    --logo_text: #5B4F3F;
    --logo-background: #A2D4DE;
}


/* 62.5% of 16px is 10px. Which makes 1rem = 10px */
html {
    font-size: 62.5%;
}

/* remove browser default margin */
body {
    margin: 0;
    height: 100%
}

/* ----------------------------------------------------------------------- Fonts and headings*/

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

.header__description h1 {
    font-family: "Cabin Sketch", serif;
    font-size: 8rem;
    font-weight: 400;
    color: var(--logo_text);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    color: var(--logo_text);
    font-family: "Cabin Sketch", serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-left: 0.5rem;
    margin-top: 4rem;
}

h3 {
    color: var(--logo_text);
    font-family: "Cabin Sketch", serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: lowercase;
    padding-left: 0.5rem;
}

h4 {
    color: var(--logo_text);
    font-family: "Cabin Sketch", serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: lowercase;
    padding-left: 0.5rem;
}

.list-text,
p {
    color: var(--logo_text);
    font-size: 1.6rem;
}

.header__description p {
    color: var(--logo_text);
    text-align: center;
    font-size: 1.8rem;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.cursive {
    font-style: italic;
}

.ch-limit {
    max-width: 30ch;
    padding: 1rem;
}

ul {
    list-style: none;
}

/* ----------------------------------------------------------------------- Header */

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    height: 33vh;
}

.header__page-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--logo_text);
}

.header__page-logo__image {
    height: 22rem;
    width: 22rem;
    background-image: url("../images/profile-picture-zoltan.webp");
    background-repeat: no-repeat;
    background-size: 22rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 100%;
}

.header__description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--logo-background);
    padding: 1rem;
}

.nav-bar__flex-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: orange;
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar__flex-container li {
    width: 25%;
    height: 100%;
    position: relative;
    text-align: center;
}

.nav-bar__flex-container li a {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.home,
.about-me,
.certificates,
.projects,
.notes {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--logo_text);
    font-family: "Cabin Sketch", serif;
}

.home {
    background-color: var(--logo-background);
}

.about-me {
    background-color: var(--about-me);
}

.certificates {
    background-color: var(--certificates);
}

.projects {
    background-color: var(--projects);
}

.notes {
    background-color: var(--notes);
}

/* Grow Shadow */
.main__content__ul-links li a,
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.main__content__ul-links li a:hover,
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}

/* ----------------------------------------------------------------------- Main */

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

}

/* ----------------------------------------------------------------------- Main Content*/

.main__content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main__content__ul-links {
    list-style: none;
    font-size: 2rem;
}

.main__content__ul-links li {
    margin-bottom: 1.5rem;
}

/* .main__content__ul-links img {
    margin-right: 2rem;
} */

/* ----------------------------------------------------------------------- Main Side*/

.main__side {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* ----------------------------------------------------------------------- Footer */

.footer {
    position: sticky;
    top: 100vh;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background-color: var(--logo-background);
    text-align: center;
}

.footer h3 {
    color: var(--logo_text);
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    padding-top: 1rem;
    text-decoration: none;
}

.footer__contact {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__contact li a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--logo_text);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.footer__contact li a:hover,
.footer__contact li a:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* ----------------------------------------------------------------------- landing page variations */

/* notes landing page variations */
.header__description--notes {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--notes);
}

#footer--notes {
    background-color: var(--notes);
}

/* about me landing page variations */
.header__description--about-me {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--about-me);
}

#footer--about-me {
    background-color: var(--about-me);
}

/* projects landing page variations */
.header__description--projects {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--projects);
}

#footer--projects {
    background-color: var(--projects);
}

/* certificates landing page variations */
.header__description--certificates {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--certificates);
}

#footer--certificates {
    background-color: var(--certificates);
}

/* ----------------------------------------------------------------------- Note Page */

.main__side {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main__side article {
    font-style: italic;
}

/* ----------------------------------------------------------------------- Certificate Page */

.grid-container_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-item_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item_2 ul li a {
    text-decoration: none;
}

h2 {
    text-decoration: none;
}

.align-left {
    text-align: left;
    color: var(--logo_text);
    font-size: 1.6rem;
}

.image--flex {
    width: 100%;
}

.image__cert-max {
    max-width: 25rem;
}

.no-top-margin {
    margin-top: -1rem;
}

.logo32x32 {
    width: 3.2rem;
    height: 3.2rem;
}

.flex-middle {
    display: flex;
    gap: 1rem;
}

/* ----------------------------------------------------------------------- media Query */

/* 74 em on standard is 1184 px */
@media only screen and (max-width: 74em) {
    .header__description h1 {
        font-size: 4rem;
    }

    .header__description p {
        font-size: 1.6rem;
    }

    ul {
        padding-left: 2rem;
    }
}

/* 47 em on standard is 752 px */
@media only screen and (max-width: 47em) {

    .main__side,
    .header__page-logo {
        display: none;
    }

    .main,
    .header {
        grid-template-columns: 1fr;
    }

    .main__content,
    .header__description,
    .nav-bar__flex-container {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .mobile-notes {
        text-align: center;
    }

    .mobile-notes ul {
        padding: 0;
    }
}